{
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "restParams": true,
      "spread": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": ["react-app", "prettier", "prettier/react"],
  "globals": {
    "React": true,
    "describe": true,
    "it": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react-intl/string-is-marked-for-translation": 2,
    "no-console": 0,
    "complexity": [1, 8],
    "prefer-const": 0,
    "func-names": 2,
    "max-nested-callbacks": [2, 2],
    "new-cap": 0,
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-delete-var": 2,
    "no-underscore-dangle": 0,
    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-unused-vars": ["error", { "args": "after-used" }],
    "yoda": [2, "never"],
    "consistent-return": 2,
    "eqeqeq": 2,
    "guard-for-in": 2,
    "no-alert": 2,
    "no-caller": 2,
    "no-labels": 2,
    "no-eval": 2,
    "no-fallthrough": 2,
    "default-case": 2,
    "no-iterator": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-new": 2,
    "no-param-reassign": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 0,
    "no-unused-expressions": 2,
    "no-with": 2,
    "wrap-iife": [2, "outside"],
    "valid-typeof": 2,
    "max-statements": [1, 30],
    "max-params": [1, 6],
    "no-var": 0,
    "no-unexpected-multiline": 2,
    "dot-location": [2, "property"],
    "no-unreachable": 2,
    "no-negated-in-lhs": 2,
    "no-irregular-whitespace": 2,
    "no-invalid-regexp": 2,
    "no-func-assign": 2,
    "no-extra-semi": 2,
    "no-empty": 2,
    "no-duplicate-case": 2,
    "no-dupe-keys": 2,
    "no-dupe-args": 2,
    "no-constant-condition": 2,
    "no-lonely-if": 2,
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "printWidth": 80
      }
    ],
    "max-len": [1, 110],
    "react/display-name": 1,
    "react/jsx-boolean-value": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1
  },
  "plugins": ["react", "prettier", "react-intl"]
}
